.left-side {
    height: 100vh;
    background: #368ef9;
}

form {
    text-align: center;
}

.input-rekening {
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}

.submit-rekening {
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    background: #368ef9;
    color: white;
    border: none;
}